/** Abstract */
/** Base */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/FoundersGrotesk-Light.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FoundersGrotesk-Regular.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FoundersGrotesk-Medium.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FoundersGrotesk-Semibold.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/FoundersGrotesk-Bold.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img, picture, video, iframe, figure {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  color: inherit;
  display: block;
  font-size: inherit;
  text-decoration: none;
}

a.link {
  color: #000;
}

a.link:hover {
  color: #000;
  text-decoration: underline;
}

p a {
  display: inline;
}

h1, h2, h3, h4, h5, h6,
p, span, a, strong, blockquote,
i, b, u, em {
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: #eee;
  color: #000;
}

::selection {
  background-color: #eee;
  color: #000;
}

form, input, textarea, select, button, label {
  background-color: transparent;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  width: 100%;
}

body {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-size: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 125%;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.ao__ul {
  padding: 0 !important;
}
.ao__li {
  list-style-type: none !important;
}
.ao__btn {
  background-color: #defa2e;
  border: none;
  border-radius: 25px;
  color: #000;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7.5px 17.5px;
  -webkit-transition: all 0.5;
  transition: all 0.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.ao__btn:hover {
  color: #000;
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}
.ao__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.ao__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.ao__flex--center_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ao__flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.ao__flex--row_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ao__flex--row_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.ao__flex--row_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ao__flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ao__flex--column_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ao__flex--column_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ao__flex--column_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .ao__flex--m_row_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ao__flex--m_row_start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .ao__flex--m_row_end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .ao__flex--m_column_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ao__flex--m_column_start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ao__flex--m_column_end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/** Components */
/** Layout */
.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1rem 320px 1rem 1fr;
  grid-template-columns: 1fr 320px 1fr;
  padding: 2rem;
  width: 100%;
}
.header__ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.header__brand {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .header__link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .header__brand {
    max-width: 250px;
  }
  .header__nav {
    display: none;
  }
}

.footer {
  overflow: hidden;
  padding: 5rem 0;
}
.footer__line {
  background-color: #000;
  display: block;
  height: 1px;
  margin: 0 2rem 5rem;
  width: calc(100% - 4rem);
}
.footer__bar_fixed {
  background-color: #000;
  bottom: 0;
  gap: 2rem;
  left: 0;
  padding: 0.5rem 2rem;
  position: sticky;
  width: 100%;
}
.footer__bar_call_to_action {
  color: #eee;
  line-height: 100%;
}

.accordeon {
  padding: 2rem;
}
.accordeon__block {
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.accordeon__block:last-child {
  margin-bottom: 0;
}
.accordeon__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.accordeon__icon {
  aspect-ratio: 1/1;
  background-color: green;
}
.post_list__li {
  border-top: 2px solid #000;
}
.post_list__li:last-child {
  border-bottom: 2px solid #000;
}
.post_list__link {
  gap: 0.75rem;
  padding: 1.25rem 0;
}
/** Pages */
.home__banner {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  padding: 3rem 2rem;
}
.home__img--slogan {
  padding: 10% 10% 10% 0;
}
.home__img--oval {
  padding: 20%;
}

.home_content {
  gap: 4rem;
}
.home_content__maxw {
  max-width: 60%;
}
.home_content__main {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: 4fr 4rem 6fr;
  grid-template-columns: 4fr 6fr;
  width: 100%;
}
.home_content__line {
  display: block;
  height: 3px;
  width: 75px;
  background-color: #000;
  margin-bottom: 1rem;
}
.home_content__parrs--light {
  font-size: 85%;
}
.home_content__bottom_divition p {
  margin-bottom: 1.25rem;
}
.home_content__bottom_divition p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home_content__main {
    -ms-grid-columns: 35% 55%;
    grid-template-columns: 35% 55%;
  }
}
@media screen and (max-width: 767px) {
  .home_content {
    gap: 4rem;
  }
  .home_content__maxw {
    max-width: 100%;
  }
  .home_content__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}