/** Abstract */
/** Base */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/FoundersGrotesk-Light.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FoundersGrotesk-Regular.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FoundersGrotesk-Medium.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FoundersGrotesk-Semibold.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@font-face {
  font-display: swap;
  font-family: "Founders Grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/FoundersGrotesk-Bold.otf") format("truetype");
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img, picture, video, iframe, figure {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  color: inherit;
  display: block;
  font-size: inherit;
  text-decoration: none;
}

a.link {
  color: #000;
}

a.link:hover {
  color: #000;
  text-decoration: underline;
}

p a {
  display: inline;
}

h1, h2, h3, h4, h5, h6,
p, span, a, strong, blockquote,
i, b, u, em {
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #eee;
  color: #000;
}

form, input, textarea, select, button, label {
  background-color: transparent;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  width: 100%;
}

body {
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  line-height: 125%;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.ao__ul {
  padding: 0 !important;
}
.ao__li {
  list-style-type: none !important;
}
.ao__btn {
  background-color: #defa2e;
  border: none;
  border-radius: 25px;
  color: #000;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
  height: fit-content;
  padding: 7.5px 17.5px;
  transition: all 0.5;
  width: fit-content;
}
.ao__btn:hover {
  color: #000;
  filter: brightness(1.4);
}
.ao__btn:active {
  transform: scale(0.9);
}
.ao__flex {
  display: flex;
  width: 100%;
}
.ao__flex--center_center {
  align-items: center;
  justify-content: center;
}
.ao__flex--row {
  flex-direction: row;
}
.ao__flex--row_center {
  justify-content: center;
}
.ao__flex--row_start {
  justify-content: flex-start;
}
.ao__flex--row_end {
  justify-content: flex-end;
}
.ao__flex--column {
  flex-direction: column;
}
.ao__flex--column_center {
  align-items: center;
}
.ao__flex--column_start {
  align-items: flex-start;
}
.ao__flex--column_end {
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .ao__flex--m_row_center {
    justify-content: center;
  }
  .ao__flex--m_row_start {
    justify-content: flex-start;
  }
  .ao__flex--m_row_end {
    justify-content: flex-end;
  }
  .ao__flex--m_column_center {
    align-items: center;
  }
  .ao__flex--m_column_start {
    align-items: flex-start;
  }
  .ao__flex--m_column_end {
    align-items: flex-end;
  }
}

/** Components */
/** Layout */
.header {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 320px 1fr;
  padding: 2rem;
  width: 100%;
}
.header__ul {
  flex-wrap: wrap;
  gap: 1.25rem;
}
.header__brand {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .header__link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header__brand {
    max-width: 250px;
  }
  .header__nav {
    display: none;
  }
}

.footer {
  overflow: hidden;
  padding: 5rem 0;
}
.footer__line {
  background-color: #000;
  display: block;
  height: 1px;
  margin: 0 2rem 5rem;
  width: calc(100% - 4rem);
}
.footer__bar_fixed {
  background-color: #000;
  bottom: 0;
  gap: 2rem;
  left: 0;
  padding: 0.5rem 2rem;
  position: sticky;
  width: 100%;
}
.footer__bar_call_to_action {
  color: #eee;
  line-height: 100%;
}

.accordeon {
  padding: 2rem;
}
.accordeon__block {
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.accordeon__block:last-child {
  margin-bottom: 0;
}
.accordeon__title {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}
.accordeon__icon {
  aspect-ratio: 1/1;
  background-color: green;
}
.post_list__li {
  border-top: 2px solid #000;
}
.post_list__li:last-child {
  border-bottom: 2px solid #000;
}
.post_list__link {
  gap: 0.75rem;
  padding: 1.25rem 0;
}
/** Pages */
.home__banner {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 3rem 2rem;
}
.home__img--slogan {
  padding: 10% 10% 10% 0;
}
.home__img--oval {
  padding: 20%;
}

.home_content {
  gap: 4rem;
}
.home_content__maxw {
  max-width: 60%;
}
.home_content__main {
  display: grid;
  gap: 4rem;
  grid-template-columns: 4fr 6fr;
  width: 100%;
}
.home_content__line {
  display: block;
  height: 3px;
  width: 75px;
  background-color: #000;
  margin-bottom: 1rem;
}
.home_content__parrs--light {
  font-size: 85%;
}
.home_content__bottom_divition p {
  margin-bottom: 1.25rem;
}
.home_content__bottom_divition p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home_content__main {
    grid-template-columns: 35% 55%;
  }
}
@media screen and (max-width: 767px) {
  .home_content {
    gap: 4rem;
  }
  .home_content__maxw {
    max-width: 100%;
  }
  .home_content__main {
    grid-template-columns: 1fr;
  }
}

.body {
  background-color: #000;
  color: white;
}
.body .ao__li a {
  color: white;
}

.container__img {
  margin: 4rem;
}
.container img {
  width: 60%;
}

.list {
  padding: 0rem 2rem;
}
.list__li {
  font-size: 40px;
  font-weight: 500;
  list-style: none;
  line-height: 4rem;
}
.list__li::before {
  content: ">";
  position: absolute;
  color: #fff;
  right: 40px;
  font-size: 30px;
}
.list__line {
  height: 1px;
  background-color: rgb(192, 187, 187);
}

.head {
  position: absolute;
}
.head .link {
  color: white;
}

.containerImg {
  max-height: 50rem;
}
.containerImg img {
  max-height: 600px;
}

.imagen {
  display: flex;
  position: relative;
  top: -20rem;
  gap: 4rem;
}
.container-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.container-principal__article {
  width: 35rem;
}
.container-principal__title {
  font-size: 40px;
  line-height: 50px;
}
.container-principal__title span {
  text-decoration: underline 3px rgb(85, 84, 84);
}
.container-principal__text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.container-principal__map img {
  margin-bottom: 1rem;
}

.bodymodal {
  background-color: #170f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(255, 255, 255, 0.225);
  height: 35rem;
  width: 80%;
  border-radius: 45px;
  display: flex;
}
.modal__x {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1.5rem 4rem;
  font-size: 25px;
  font-weight: 100;
}
.modal__contenido {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.modal__imagen {
  width: 45%;
  height: 80%;
  border-radius: 90%;
  background-color: rgb(233, 219, 202);
}
.modal__audios {
  width: 40%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.modal__audio {
  height: 5rem;
  width: 90%;
  border-radius: 20px;
  background-color: rgb(2, 1, 1);
}

.hacker {
  background-color: #B2D7CF;
}

.container-hacker {
  display: flex;
  margin-top: 2rem;
  margin: 2rem;
  margin-bottom: 0;
  color: #17774A;
  gap: 4rem;
  position: absolute;
  top: 15rem;
}
.container-hacker__icon {
  position: relative;
  z-index: 100;
}
.container-hacker__title {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 500;
}
.container-hacker__parrafo {
  font-size: 19px;
  line-height: 30px;
}
.container-hacker__video {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container-hacker .logo {
  width: 20%;
  margin-top: 1rem;
}

.container-icons {
  display: flex;
  align-items: center;
}
.container-icons__icon1 {
  width: 20%;
  height: 20%;
}
.container-icons__icon2 {
  width: 70%;
  height: 40%;
  margin-top: -10rem;
}

/*# sourceMappingURL=index.css.map */
