.body {
  background-color: $secondary;
  color: $primary;
  .ao__li {
    a {
      color: $primary;
    }
  }
}
.container {
  &__img {
    margin: 4rem;
  }

  img {
    width: 60%;
  }
}
.list {
  padding: 0rem 2rem;

  &__li {
    font-size: 40px;
    font-weight: 500;
    line-height: 4rem;
    list-style: none;
  }
  &__li::before {
    color: $primary;
    content: ">";
    font-size: 30px;
    position: absolute;
    right: 40px;
  }
  &__line {
    background-color: rgb(192, 187, 187);
    height: 1px;
  }
}
