.hacker {
    background-color: #B2D7CF;
}

.container-hacker {
    color: #17774A;
    display: flex;
    gap: 4rem;
    margin: 2rem;
    margin-bottom: 0;
    max-height: 40rem;
    position: absolute;
    top: 15rem;


    &__icon {
        position: relative;
        z-index: 100;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    &__parrafo {
        font-size: 19px;
        line-height: 30px;
    }

    &__video {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-top: 1rem;
        width: 20%;
    }
}

.container-icons {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;

    &__icon1 {
        height: 50%;
        width: 20%;

    }

    &__icon2 {
        width: 70%;
    }
}
@include mq_tablet {
   
}
@include mq_movil {
    .container-hacker {
        display: flex;
        flex-direction: column;
        &__title {
            font-size: 25px;
        }
        &__parrafo {
            font-size: 17px;
        }
        
    }
    .container-icons{
        visibility: hidden;
        }
    .pie {
        margin-top:12rem;
    }
    
}