.bodymodal {
    align-items: center;
    background-color: #170f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    background-color: rgba(255, 255, 255, 0.225);
    border-radius: 45px;
    display: flex;
    height: 35rem;
    width: 80%;

    &__x {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        font-weight: 100;
        justify-content: flex-end;
        margin: 1.5rem 4rem;
    }

    &__contenido {
        align-items: center;
        display: flex;
        gap: 3rem;
        justify-content: center;
        width: 90%
    }

    &__imagen {
        background-color: rgb(233, 219, 202);
        border-radius: 90%;
        height: 80%;
        width: 45%
    }

    &__audios {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 30rem;
        justify-content: center;
        width: 40%;
    }

    &__audio {
        background-color: rgb(2, 1, 1);
        border-radius: 20px;
        height: 5rem;
        width: 90%;
    }
}