.head {
    position: absolute;

    .link {
        color: white;
    }
}

.containerImg {
    max-height: 50rem;

    img {
        max-height: 600px;
    }
    @include mq_movil {
        img {
            height: 25rem;
        }
    }
}

.imagen {
    display: flex;
    gap: 4rem;
    position: relative;
    top: -20rem;

    // &__one {}
}


.container-principal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;

    &__article {
       max-width: 35rem;
    }

    &__title {
        font-size: 40px;
        line-height: 50px;

        span {
            text-decoration: underline 3px rgb(85, 84, 84);
        }
    }
    

    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__map {
        img {
            margin-bottom: 1rem;

        }
    }
}
@include mq_movil {
      .container-principal {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &__title {
            font-size: 22px;
            font-weight: bold;
        }
        &__text {
            font-size: 15px;
        }
       .btn-single {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        button {
            font-size: 16px;
            padding: 1rem 4rem;
        }
       }
      }  
}