@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
    font-display: swap;
    font-family: 'Founders Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/FoundersGrotesk-Light.otf") format("truetype");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@font-face {
    font-display: swap;
    font-family: 'Founders Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FoundersGrotesk-Regular.otf") format("truetype");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@font-face {
    font-display: swap;
    font-family: 'Founders Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/FoundersGrotesk-Medium.otf") format("truetype");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@font-face {
    font-display: swap;
    font-family: 'Founders Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/FoundersGrotesk-Semibold.otf") format("truetype");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@font-face {
    font-display: swap;
    font-family: 'Founders Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/FoundersGrotesk-Bold.otf") format("truetype");
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
