.accordeon {
    padding: 2rem;
    &__block {
        gap: 1.5rem;
    }
    &__block:last-child {
        margin-bottom: 0;
    }
    &__title {
        cursor: pointer;
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        padding: 1.5rem 0; 
    }
    &__icon {
        aspect-ratio: 1 / 1;
        background-color: green;
    }
    &__content {
        max-height: 0;
        overflow: hidden;
        padding: 0;
    }
    &__content.active {
        max-height: 9000rem;
    }
}