.accordeon {
    padding: 2rem;
    &__block {
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
    &__block:last-child {
        margin-bottom: 0;
    }
    &__title {
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
    }
    &__icon {
        aspect-ratio: 1 / 1;
        background-color: green;
    }
    &__content {}
}